{% extends 'base.html' %}
{% block head_title %}
{% load crispy_forms_tags %}
{% load static %}
Home

{% endblock head_title %}

{% block content %}
<div class="bg-dark right-slant-shape pt-lg-16 py-12 pb-lg-0 my-auto">
    <div class="container">
        <div class="row d-lg-flex align-items-center ">
            <div class="col-lg-5 col-lg-5 col-md-6 col-12">
                <div class="mb-0 mb-lg-8 ">
                    <h1 class=" text-white mb-3 display-4">
                        Welcome to <br> Med-Innovate
                    </h1>
                    <p class="mb-6 lead">
                        Our platform is open and free for everyone looking for general treatment
                        &amp; queries.
                    </p>
                    <a href="{% url 'doctors' %}"><button class="btn btn-primary mr-3">Get a doctor</button></a>
                </div>
            </div>
            <div class="offset-xl-2 col-xl-5 offset-lg-1 col-lg-5 col-md-6 col-12 mb-n2 d-none d-md-block">
                <div class="position-relative z-index-1">
                    <img src="{% static 'img/heydoc.jpg' %}" alt=""
                        class="img-fluid rounded w-100 border-bottom border-bottom-4 border-primary">
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 ">
                        <h4 class="mb-0 h2">Dr. Ram Sharma</h4>
                        <span style="background-color:rgba(255,255,255,0.7)" class="text-center font-12">Internationally
                            acclaimed
                            doctor</span>
                    </div>
                </div>
                <div class="position-relative z-index-1">
                    <div class=" position-absolute ml-n14 mt-n7">
                        <img src="{% static 'img/shape.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-lg-12 py-8">
    <div class="container">
        <div class="mb-9">
            {% if doctors %}
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <h2 class="h1">Our honorable doctors.</h2>
                </div>
                <div class=" col-xl-6 col-lg-6 col-md-6 col-12">
                    <p class="lead">
                        No need to get out of home for general inquiry. How awesome?
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- thumbnail -->
            <div class="row">

                {% for doc in doctors %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border-0">
                        <a href="{% url 'doctor' id=doc.id %}" class="img-zoom">
                            <img class="rounded img-fluid w-100" src="{{doc.image.url}}" alt="">
                        </a>
                    </div>
                    <div class="card border-0">
                        <div class="card-body mt-n13 bg-white mr-6 rounded-right p-4">
                            <a href="{% url 'doctor' id=doc.id %}">
                                <h3 class="mb-3">{{doc.name}}</h3>
                            </a>
                            <p>
                                Field of expertise: {{doc.field_of_expertise}}
                            </p>
                            <a href="{% url 'doctor' id=doc.id %}" class="btn-primary-link">Have a talk</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2 class="mb-3">No Doctors Registered Yet</h2>
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock content %}