{% extends 'base.html' %}
{% block head_title %}
{% load crispy_forms_tags %}
{% load static %}
Hello {{user.username}}
{% endblock head_title %}

{% block content %}


<div class="container mt-10 pb-lg-6">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="mb-4 mb-lg-0">
                <img src="{% static 'img/profdoc.png' %}" alt=""
                    class="img-fluid w-100 border-top border-primary border-top-4 rounded-top">
                <div class="border-top-0 border rounded-bottom bg-white">
                    <div class="p-4">
                        <h4>Register as a doctor</h4>
                        <p>
                            Register as a doctor if you are a doctor and want to solve people's medical problems and/or
                            queries
                        </p>
                        <a href="{% url 'doctorform' %}" class="btn-primary-link">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="mb-4 mb-lg-0">
                <img src="{% static 'img/profpeople.png' %}" alt=""
                    class="img-fluid w-100 border-top border-primary border-top-4 rounded-top">
                <div class="border-top-0 border rounded-bottom bg-white">
                    <div class="p-4">
                        <h4>Register as a visitor</h4>
                        <p>
                            Register as a visitor if you are searching for doctors to solve your problems and/or listen
                            your queries.
                        </p>
                        <a href="{% url 'personform' %}" class="btn-primary-link">Register</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}