{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div style="margin-top:10%; " class="col-md-6 offset-md-3">

    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process. Please contact us if you do not receive it within 30 minutes (Please make sure to check 'spam' folder
        as some mails might end up there).{% endblocktrans %}</p>

    {% endblock %}