<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Medinnovate | {% block head_title %}
        {% endblock head_title %}
    </title>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    {% comment %} imports {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    {% comment %} close imports {% endcomment %}

</head>

<body>
    {% include '_navbar.html' %}

    <div style="min-height:650px">
        {% block content %}
        {% endblock content %}
    </div>
    {% include '_footer.html' %}

    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script src="{% static 'js/theme.js' %}"></script>

</body>

</html>